spring:
  kafka:
    bootstrap-servers: breisen.datamix.ovh:9093
    listener:
      ack-mode: manual
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      enable-auto-commit: false
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.json.use.type.headers: false
        spring.json.value.default.type: enseirb.concurrence.restful.Truck
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
